/* Layout principal */
.main-container {
  min-height: 100vh;
  display: flex;
  background-color: #f1f5f9;
}

/* Scroll bonito */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e2e8f0;
}

::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
